# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# UI packages and build output
ui/node_modules/
ui/dist/

# Ignore all HTML files
*.html

# Large ontology OWL files
*.owl

